---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

blockquote {
    color: #828282;
    border-left: 4px solid #e8e8e8;
    padding-left: 15px;
    font-size: 15px;
    letter-spacing: -1px;
}